[user]
	name = Thomas Gummerer
	email = t.gummerer@gmail.com

[core]
	editor = emacsclient -t
	pager = less -F -X

[alias]
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	ack = -c color.grep.filename='bold green' -c color.grep.match='black yellow' grep --break --heading -n

[grep]
	fallbackToNoIndex = true

[push]
	default = current

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[web]
	browser = open

[interactive]
	singlekey = true
	
[rerere]
	enabled = true

# [sendemail]
# 	smtpserver = /usr/bin/msmtp

[help]
	autocorrect = 1
[fetch]
	recurseSubmodules = yes
