[user]
	name = Thomas Gummerer
	email = t.gummerer@gmail.com

[core]
	editor = vim

[alias]
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	root = rev-parse --show-toplevel

	graft = cherry-pick -x

	ci = commit
	cm = commit -m

	d = diff
	di = diff --cached

	co = checkout
	id = rev-parse

	unstage = reset HEAD
	uns = reset HEAD

	currentbranch = !git symbolic-ref HEAD 2>/dev/null || git describe --tags --exact-match HEAD

	fo = fetch origin
	fu = fetch upstream

	po = push origin
	; lo = pull origin

[push]
	default = current

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[web]
	browser = open
