[user]
	name = Thomas Gummerer
	email = t.gummerer@gmail.com

[core]
	editor = emacsclient -t
	pager = less -F -X
	commitGraph = true

[gc]
	writeCommitGraph = true

[alias]
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	ack = -c color.grep.filename='bold green' -c color.grep.match='black yellow' grep --break --heading -n
	commit-msg = show -s --date=format:%Y-%m-%d --pretty='%h (\"%s\", %ad)'

[grep]
	fallbackToNoIndex = true

[push]
	default = current

[color]
	branch = auto
	diff = auto
	interactive = auto
	status = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[web]
	browser = open

[interactive]
	singlekey = true

[rerere]
	enabled = true

[rebase]
	autosquash = true
	autostash = true
	useBuiltin = true

[sendemail]
	smtpserver = /usr/bin/msmtp

[help]
	autocorrect = 1
[fetch]
	recurseSubmodules = yes
#	writeCommitGraph = yes
# [transfer]
# 	fsckobjects = true
[filter "bug"]
	process = rot13-filter.pl bug.log clean smudge delay
	required = true
[advice]
	ignoredHook = false
	detachedHead = false
[test "full"]
	command = make -j12 test
[test "default"]
	onFailure = mplayer ~/Downloads/Sad_Trombone-Joe_Lamb-665429450.mp3
[sendemail]
	confirm = auto
[protocol]
	version = 2
[worktree]
	guessRemote = true
[branch]
	sort = -authordate
[pull]
	rebase = false
[credential]
	credentialStore = gpg
	helper = cache
[github]
	user = tgummerer

[url "ssh://git@github.com/"]
     insteadOf = https://github.com/


[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
[sizer]
	names = none
